/* ------------- Google Fonts ---------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* --------------------- CSS Variables ----------------- */

/* Selects the root element of the document:
   <html> in the case of HTML */
:root {

    --header-height: 3rem;  /*  custom property name begin with -- */

    /* -------- Colors -------- */

    --hue-color: 250; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* Hue Saturation(gray/full-color) Lightness(black/white) color mode
    https://www.w3schools.com/colors/colors_hsl.asp */

    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);

    --title-color: hsl(var(--hue-color), 8%, 15%);

    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);

    --input-color: hsl(var(--hue-color), 70%, 96%);

    --body-color: hsl(var(--hue-color), 60%, 99%);

    --container-color: #fff;

    /* -------- Font and typography -------- */
    --body-font: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* -------- Font weight -------- */
    --font-medium: 500;
    --font-semi-bold: 600;

    /* -------- Margenes Bottom -------- */
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /* --------z index -------- */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* On screens that are >968px */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;

        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*========== Variables Dark theme ==========*/


/*========== Button Dark/Light ==========*/


/*==================== BASE ====================*/
*{
    /*box-sizing: Good Practice; Default value content box*/
    box-sizing: border-box; /* If you set an element's width to 100 pixels, that 100 pixels will include any border or padding you added */
    padding: 0;
    margin: 0;
}

html{
    /* smoothly animate the scroll position, instead of a straight jump when link clicked */
    scroll-behavior: smooth;
}

body{
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3, h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section{
    padding: 2rem 0 4rem;
}

.section__title{
    font-size: var(--h1-font-size);
}

.section__subtitle{
    display: block; /* takes whole width */
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

/*==================== LAYOUT ====================*/
.container{
    /* 14:50 */
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}
.grid{
    display: grid;
    gap: 1.5rem; /* gap betn rows & cols */
}
.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

/* -------------- NAV ------------- */
.nav{
    max-width: 968px;
    height:  var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* logo & apps */
.nav__logo,
.nav__toggle{
    color: var(--title-color);
    font-weight: var(--font-medium);
}
.nav__logo:hover{
    color: var(--first-color);
}

.nav__toggle{
    font-size: 1.1rem;
    cursor: pointer;
}

.nav__toggle:hover{
    color: var(--first-color);
}

@media screen and (max-width: 767px) {
    .nav__menu{
        position: fixed;
        bottom: -100%;/* Hide menu at small Screen*/
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgb(0,0,0,.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }
    /* .nav__logo{
        position: absolute;
        top: 0;
        left: 1rem;
    } */
    /* .nav__toggle{
        position: absolute;
        top: 0;
        right: 1rem;
    } */
}

 .nav__list{
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}

/* on hover change color to theme color */
.nav__link:hover{
    color: var(--first-color);
}
/* increase icon size */
.nav__icon{
    font-size: 1.2rem;
}

/* cross-icon */
.nav__close{
    /* move bottom right wrt parent */
    position: absolute;
    right: 1.5rem;
    bottom: .5rem;

    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
}

.nav__close:hover{
    color: var(--first-color-alt);
} 

/* show menu */
.show-menu{
    bottom: 0;
}

/* Active link */


/* Change background header */


/*==================== HOME ====================*/


/*==================== BUTTONS ====================*/


/*==================== ABOUT ====================*/


/*==================== SKILLS ====================*/


/*==================== QUALIFICATION ====================*/


/*==================== SERVICES ====================*/


/* Active Modal */


/*==================== PORTFOLIO ====================*/


/*==================== PROJECT IN MIND ====================*/


/*==================== TESTIMONIAL ====================*/


/*==================== CONTACT ME ====================*/


/*==================== FOOTER ====================*/


/*========== SCROLL UP ==========*/


/* Show scroll */


/*========== SCROLL BAR ==========*/


/*==================== MEDIA QUERIES ====================*/
/* For small devices */


/* For medium devices */


/* For large devices */